<template name="quoteform">
    <div id="modal1" class="modal modal-fixed-footer">
        <div class="modal-content">
            <h4>Quote It</h4>
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="ip_title" type="text" class="validate">
                        <label for="ip_title" data-error="Source Cannot be empty" data-success="Correct">Source</label>
                    </div>
                    <div class="input-field col s12">
                        <textarea id="ta_quote" class="materialize-textarea"></textarea>
                        <label for="ta_quote">Quote</label>
                    </div>
                    <div class="input-field col s12">
                        <input id="ip_tags" type="text" class="validate">
                        <label for="ip_tags" data-error="Add some tags for faster access to the quote." data-success="Correct">Tags(separated by commas)</label>
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action waves-effect waves-green btn-flat" id="save-quote">Save</a>
        </div>
    </div>
</template>